<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>Springfield</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<false />
			<key>NSAllowsLocalNetworking</key>
			<true />
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>Ứng dụng cần sử dụng camera để chụp ảnh hoặc quay video.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Ứng dụng cần truy cập thư viện ảnh để tải lên hoặc chỉnh sửa ảnh.</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>Ứng dụng cần lưu ảnh hoặc video vào thư viện của bạn.</string>
		<key>NSUserTrackingUsageDescription</key>
		<string>Ứng dụng cần quyền này để cung cấp quảng cáo và nội dung phù hợp.</string>
		<key>NSPushNotificationsUsageDescription</key>
		<string>Ứng dụng cần gửi thông báo để cập nhật thông tin mới nhất cho bạn.</string>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen.storyboard</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv64</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false />
		<key>UIAppFonts</key>
		<array>
			<string>Inter-Black.ttf</string>
			<string>Inter-Bold.ttf</string>
			<string>Inter-ExtraBold.ttf</string>
			<string>Inter-ExtraLight.ttf</string>
			<string>Inter-Light.ttf</string>
			<string>Inter-Medium.ttf</string>
			<string>Inter-Regular.ttf</string>
			<string>Inter-SemiBold.ttf</string>
			<string>Inter-Thin.ttf</string>
		</array>
	</dict>
</plist>