SPRINGFIELD_STORE_FILE_DEBUG=
SPRINGFIELD_STORE_PASSWORD_DEBUG=
SPRINGFIELD_KEY_ALIAS_DEBUG=
SPRINGFIELD_KEY_PASSWORD_DEBUG=

SPRINGFIELD_STORE_FILE_RELEASE=
SPRINGFIELD_STORE_PASSWORD_RELEASE=
SPRINGFIELD_KEY_ALIAS_RELEASE=
SPRINGFIELD_KEY_PASSWORD_RELEASE=
